$gray:#2f3234;
$white: #fff;
$orange: #e45028;
$orangelight: #eb8c38;
$yellow: #f9b43b;
$black: #000;
$lightgray:#585858;
$red:#d00;


@import "./blocks/fonts.scss";
@import "./layout/normalize.scss";
@import "./layout/media.scss";
@import "./layout/base.scss";
@import "./blocks/offer.scss";
@import "./blocks/order.scss";
@import "./blocks/team.scss";
@import "./blocks/header.scss";
@import "./blocks/burgers.scss";
@import "./blocks/promo.scss";
@import "./blocks/menu.scss";
@import "./blocks/svg.scss";
@import "./blocks/nav.scss";
@import "./blocks/btn.scss";
@import "./blocks/scroll-menu.scss";
@import "./blocks/face.scss";
@import "./blocks/video.scss";
@import "./blocks/drop.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";