$white: #fff;
$orange: #e45028;
$yellow: #f9b43b;
$black: #000;
$gray:#2f3234;

@import "./blocks/fonts.scss";
@import "./layout/normalize.scss";
@import "./layout/base.scss";
@import "./blocks/ad.scss";
@import "./blocks/order.scss";
@import "./blocks/team.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/btn.scss";
@import "./blocks/scroll-menu.scss";
@import "./blocks/face.scss";