$white: #fff;
$orange: #e45028;
$yellow: #f9b43b;
$black: #000;

@import "blocks/header";
@import "blocks/nav";
@import "blocks/promo";
@import "blocks/btn";
@import "blocks/fonts";
@import "layout/base";
@import "layout/normalize";