.footer {
    background: url("./img/bg-footer.png") center center / cover no-repeat;
    position: absolute;
    width: 100%;
    bottom: rem(0px);
    z-index: 100;
}

.footer--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px);

    @include phones {
        flex-direction: column;
        justify-content: center;
    }
}

.contacts {
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include phones {
        align-items: center;
        margin-bottom: rem(14px);
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__desk {
        color: $white;
        margin-bottom: rem(10px);
    }

    &__phone {
        color: $orange;
        font-weight: 700;
        text-decoration: none;
        display: block;
    }
}

.socials__list>* {
    width: rem(20px);
    height: rem(20px);

    &>*:not(:last-child) {
        margin-right: rem(20px);
    }
}

.socials__list {
    display: flex;
    align-items: center;
}

.fb {
    fill: $lightgray;
}

.socials__item>*:hover {
    fill: $white;
    transition: 0.3s;
}