.header {
    position: absolute;
    width: 100%;
    top: rem(15px);
    z-index: 1;
}

.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    fill: $white;
    width: rem(24px);
    height: rem(22px);
    display: none;

    @include tablets {
        display: flex;
    }
}

.logo-icon {
    width: rem(92px);
    height: rem(69px);
}