.promo {
    background: url("./img/promo-fon.png") center center / cover no-repeat;
    position: relative;
}

.promo--container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.promo__content {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 18%;
    }

    @include phones {
        padding: 0 5%;
    }
}

.promo__img {
    margin-right: rem(15px);
    max-width: 100%;
    height: auto;

    @include tablets {
        margin-right: 0;
        margin-bottom: rem(30px);
    }
}

.promo--title {
    margin: 0;

    @include tablets {
        text-align: center;
    }

    @include phones {
        font-size: rem(58px);
    }
}

.promo__subtitle {
    @include lifehack;
    color: $white;
    font-size: rem(65px);
    margin-top: rem(38px);
    letter-spacing: rem(-1.63px);

    @include tablets {
        margin-top: rem(10px);
    }

    @include phones {
        font-size: rem(48px);
    }
}

.promo__scroll_btn {
    width: rem(29px);
    height: rem(14px);
    display: block;
    background: url("../img/btn-scroll.png") center center no-repeat;
    position: absolute;
    bottom: rem(20px);
    padding-bottom: rem(20px);
}