.scroll-menu {
    position: fixed;
    top: 12%;
    right: 3%;

    @include tablets {
        display: none;
    }

    &__item {
        position: relative;
        display: block;
        width: rem(16px);
        height: rem(16px);
        border-radius: 50%;
        border: 1px solid transparent;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &::before {
            content: '';
            position: absolute;
            width: rem(5px);
            height: rem(5px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $white;
            border-radius: 50%;
        }

        &--active {
            border: 1px solid $white;
        }
    }
}



/* .scroll-menu {
    position: fixed;
    top: 12%;
    right: 2%;

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }

    &__item {
        list-style-type: disc;
        color: $white;
        position: relative;
        list-style-position: inside;
    }

    &__item--active:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(-25%, -45%);
        left: 0;
        width: rem(10px);
        height: rem(10px);
        border-radius: 50%;
        box-shadow: 0 0 0 rem(1.5px) $white;
    }
} */