.video {
    background: url("../img/video_bg.png") center center / cover no-repeat;
}

.title--video {
    color: $gray;
    margin-top: rem(0px);
    margin-bottom: rem(50px);
}

.video--container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.player {
    width: 100%;
    width: rem(660px);
    position: relative;
    overflow: hidden;
}

.player__video {
    width: 100%;
}

.player__controls {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background: $gray-tr;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    height: rem(40px);
}

.player__button {
    background: rgba(0, 0, 0, 0);
    width: rem(21px);
    height: rem(25px);
    outline: none;
    border: 0;
    margin-right: rem(20px);
}

.play-pic,
.volume-pic {
    width: inherit;
    height: inherit;
}

.progress {
    position: relative;
    display: flex;
    flex-basis: 62%;
    height: 4px;
    border-radius: 2px;
    background: #626262;
    cursor: pointer;
}

.progress__filled {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    position: absolute;
    transform: translateY(-35%);
    top: 0;
    background: $lightgray;
}

.player__volume {
    margin-left: auto;
    display: flex;
}

.player__slider {
    line-height: 0.3;
}

//- для мозиллы moz
//- для оперы o
//- для IE ms

//Стилизация input[type=range].
input[type=range] {
    -webkit-appearance: none;
    //Обнуление стилей
    width: 65%;
    background: transparent;
}

//Стили для ползунка
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background: $lightgray;
    cursor: pointer;
    margin-top: -5%;
}

//Для стилизации линии трека используем три псевдоэлемента, так как инпут поделен на три части, это ::-ms-track, ::-ms-fill-lower, ::-ms-fill-upper.
input[type=range]::-ms-track {
    width: 100%;
    height: rem(5px);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: $lightgray;
    border-radius: 2px;
}

input[type=range]::-ms-fill-upper {
    background: $lightgray;
    border-radius: 2x;
}

input[type=range]:focus::-ms-fill-lower {
    background: $lightgray;
}

input[type=range]:focus::-ms-fill-upper {
    background: $lightgray;
}

//Ползунок с псевдоэлементом ::-moz-range-thumb
input[type=range]::-moz-range-thumb {
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background: $lightgray;
    cursor: pointer;
}

//Ползунок - ::-ms-thumb для IE.
input[type=range]::-ms-thumb {
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background: $lightgray;
    cursor: pointer;
}

//Стилизация трека ::-moz-range-track.
input[type=range]::-moz-range-track {
    width: 100%;
    height: rem(5px);
    cursor: pointer;
    background: $lightgray;
    border-radius: 1px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: rem(5px);
    cursor: pointer;
    background: #626262;
    border-radius: 2px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #626262;
}