html,
body {
    height: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

html {
    font-size: rem(15px);

    @include tablets {
        font-size: rem(14px);
    }

    @include phones {
        font-size: rem(13px);
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: rem(940px);
    padding: rem(0px) rem(10px);
    width: 100%;
    margin: rem(0px) auto;
}

ul,
h1,
h4,
p {
    padding: 0;
    margin: 0;

    &>li {
        list-style: none;
    }
}

.section {
    position: relative;
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablets {
        min-height: rem(0px);
    }

    @include phones {
        min-height: rem(0px);
    }
}

.title {
    @include gagalin;
    font-size: rem(72px);
    color: $yellow;
    line-height: 1;
}