.ad {
    background: url("../img/bg-vegetables.png") center center / cover no-repeat;

    &__item:not(:last-child) {
        margin-right: 35px;
    }
}

.ad--container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ad__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ad__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 280px;
}

.ad__title {
    color: $gray;
    margin-bottom: 58px;
}

.ad__img {
    margin-bottom: 35px;
}

.ad__img {
    width: 97px;
    height: 89px;
    text-align: center;
}

.ad__desk {
    text-align: center;
    font-family: 'ubunturegular';

    & h4 {
        @include lifehack;
        font-size: 24px;
        margin-bottom: 25px;
    }

    & p {
        line-height: 24.07px;
        opacity: 0.6;
    }
}