.btn {
    padding: rem(11px) rem(15px);
    background-color: $orange;
    border-radius: 3px;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
    font-family: 'ubunturegular';
    border: none;
    margin-right: rem(30px);
}