.burgers {
    background: linear-gradient(to top, $yellow 0%, $orangelight 48%, $yellow 74%, $yellow 100%);
    height: 100vh;
}

.burgers--container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
        padding: 47px;
    }
}

.burgers__scroll--btn-left {
    width: 37px;
    height: 29px;
    display: block;
    background: url("../img/burger-scroll-left.png") center center no-repeat;
}

.burgers__scroll--btn-right {
    width: 37px;
    height: 29px;
    display: block;
    background: url("../img/burger-scroll-right.png") center center no-repeat;
}

.burgers__content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        flex-direction: column;
    }
}

.burgers--title {
    color: $white;
    margin-bottom: 56px;
    letter-spacing: 3px;

    @include tablets {
        margin-bottom: 10px;
    }
}

.burgers__text {
    color: $white;
    font-family: 'ubuntu';
    font-weight: 300;
    margin-bottom: 36px;
    line-height: 24px;

    @include tablets {
        margin-bottom: 0px;
    }
}

.burgers__price {
    display: flex;
    align-items: flex-end;
}

.burgers__money {
    margin-right: 29px;
    font-size: 72px;
    letter-spacing: -1.79px;
    @include gagalin;
    color: $orange;
}

.rubles {
    letter-spacing: -0.75px;
    @include gagalin;
    font-size: 30px;
    font-weight: 400;
}

.burger__icon--composit {
    width: 46px;
    height: 44px;
    margin-bottom: 5px;
}

.burger__item--svg {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.burger__item--weight {
    margin-left: auto;
}

.burgers__menu {
    position: relative;
}

.burger__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.burger__composition {
    width: 90px;
    height: 90px;
    background-color: $orangelight;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__drop {
    position: absolute;
    top: -22%;
    left: 6%;
    display: flex;

    &:hover {
        .burger__list {
            opacity: 1;
            transition: 0.3s;
        }
    }

    @include tablets {
        top: -12%;
    }
}

.burger__list {
    padding: 18px;
    background-color: rgba($white, 0.8);
    border-radius: 7px;
    width: 227px;
    font-family: 'ubuntu';
    font-weight: 500;
    opacity: 0;
}

.burger__colorie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 6%;
    @include gagalin;
    color: $white;
    text-transform: uppercase;
    opacity: 0.5;

    &--weight {
        font-size: 20px;
        margin-top: -33px;
        margin-bottom: 12px;
    }

    @include tablets {
        right: 6%;
        top: -22%;
    }
}

.burger__icon--kkal {
    width: 60px;
    height: 60px;
}

.burger__subtitle {
    @include gagalin;
    color: $white;
    text-transform: uppercase;
}

.burgers__desk {
    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}