.face__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.face__item {
    flex-basis: 25%;
    height: 50vh;
}

.face__item--photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}