.order--container {
    height: 100%;

    @include phones {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.order {
    background: url("../img/bg-form.png") center center / cover no-repeat rgba($black, 0.9);
}

.form {
    padding: rem(130px) rem(70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include tablets {
        padding: 7% 4%;
    }

    @include phones {
        padding: 5% 0;
    }
}

.form-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
    }

    @include phones {
        padding: 0;
    }
}

.title--form {
    color: $yellow;
    margin-bottom: rem(44px);

    @include phones {
        font-size: rem(50px);
        text-align: center;
        line-height: rem(60px);
        margin-bottom: rem(15px);
        padding: 0 50px;
    }
}

.form__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;

    @include tablets {
        width: 100%;
    }


    &:not(:last-child) {
        margin-right: rem(20px);
    }

    &:not(:last-child) {
        @include tablets {
            margin-bottom: rem(15px);
            margin-right: 0;
        }
    }
}

.form__row {
    display: flex;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: rem(20px);

        @include phones {
            margin-bottom: rem(15px);
        }
    }
}

.form__part {
    flex: 1;

    &:not(:last-child) {
        margin-right: rem(10px);
    }

    &--active {
        @include phones {
            display: none;
        }
    }

    @include phones {
        &:nth-child(3) {
            margin-right: 0;
        }
    }
}

.form__field {
    width: 100%;
    padding: rem(7px) rem(15px);
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;

    &:active,
    &:hover {
        border: 2px solid $yellow;
    }
}

.form__part--text {
    min-height: rem(119px);
    flex: 1;

    @include tablets {
        display: flex;
        width: 100%;
    }

    @include phones {
        min-height: rem(100px);
    }

    &:active,
    &:hover {
        border: 2px solid $yellow;
    }
}

.form__part--subtitle {
    color: $white;
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    margin-bottom: rem(3px);
}

.form__section {
    width: 100%;

    @include phones {
        .form__row {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.text {
    color: $white;
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
}

.form__select,
.select {
    display: flex;
    align-items: center;
}

.form__buttons {
    display: flex;
    align-items: center;
}

.fake,
.check-button {
    margin-right: rem(10px);
}

.fake {
    width: rem(14px);
    height: rem(14px);
    display: block;
    position: relative;
    border-radius: 50%;
    background: $white;

    &::before {
        content: "";
        width: rem(7px);
        height: rem(7px);
        display: block;
        border-radius: 50%;
        background-color: $orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

.radio-button {
    display: none;

    &:checked+.fake::before {
        opacity: 1;
        transition: 0.3s;
    }
}

.mith {
    width: rem(14px);
    height: rem(14px);
    display: block;
    position: relative;
    background: $white;
    margin-right: rem(10px);

    &::before {
        content: "";
        width: rem(7px);
        height: rem(7px);
        display: block;
        background-color: $orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

.check-button {
    display: none;

    &:checked+.mith::before {
        opacity: 1;
        transition: 0.3s;
    }
}

.select:not(:last-child) {
    margin-right: rem(20px);
}

.btn-in {
    padding: rem(11px) rem(16px);
    background-color: $orange;
    border-radius: 3px;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
    font-family: 'ubunturegular';
    border: none;
}

.btn-out {
    padding: rem(11px) rem(16px);
    border-radius: 3px;
    font-size: rem(14px);
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    font-family: 'ubunturegular';
    border: none;
    background-color: transparent;
}

.check-button {
    background-color: $yellow;
}