.connection {
    fill: $orange;
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(10px);
}

.vk,
.fb,
.inst,
.tw {
    fill: $lightgray;
    width: rem(20px);
    height: rem(20px);
}


.fb {
    fill: $white;
}

.socials__item:not(:last-child) {
    margin-right: rem(20px);
}