.connection {
    fill: $orange;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.vk,
.fb,
.inst,
.tw {
    fill: $lightgray;
    width: 20px;
    height: 20px;
}


.fb {
    fill: $white;
}

.socials__item:not(:last-child) {
    margin-right: 20px;
}