.team {
    background: url("../img/bg-team.png") center center / cover no-repeat;
    height: 100vh;
    position: relative;
}

.team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba($gray, 0.9);}

.team__block {
    width: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.team__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__photo--pic {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 21px;
}

.title--team {
    margin-bottom: 46px;
}

.team__item {
    color: $white;
    font-family: 'gagalinregular';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: 35px;
    }
}

.team__name {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 17px;
    }

    &::before {
        content: "";
        display: block;
        border: 6px solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0px;
        margin-right: 10px;
    }
}

.team__accordeon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 0;
    overflow: hidden;
    margin-left: 16px;
}

.team__item--active {
    & .team__accordeon {
        height: 100%;
        overflow: visible;
    }

    .team__name::before {
        transform: scale(1, -1);
    }
}


.team__desk {
    font-family: 'ubuntu';
    font-size: 14px;
    font-weight: 300;

    &--subtitle {
        font-weight: 700;
        margin-bottom: 17px;
    }

    &--text {
        line-height: 25px;
    }
}