.team {
    background: url("../img/bg-team.png") center center / cover no-repeat;
    height: 100vh;
    position: relative;
}

.team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba($gray, 0.9);

    @include tablets {
        width: 100%;
    }
}

.team__block {
    width: rem(400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include tablets {
        width: 100%;
        align-items: center;
        padding: 0 25%;
    }

    @include phones {
        padding: 4% 8%;
    }
}

.team__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__photo {
    @include tablets {
        margin-bottom: rem(20px);
    }
}

.team__photo--pic {
    width: rem(100px);
    height: rem(100px);
    display: block;
    border-radius: 50%;
    object-fit: cover;
    margin-right: rem(21px);

    @include tablets {
        margin-right: 0;
    }
}

.title--team {
    margin-bottom: rem(46px);

    @include phones {
        font-size: rem(40px);
        margin-bottom: rem(30px);
    }
}

.team__item {
    color: $white;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: rem(35px);

        @include phones {
            margin-bottom: rem(10px);
        }
    }

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.team__name {
    display: flex;
    align-items: center;

    @include tablets {
        font-size: rem(25px);
    }

    &:not(:last-child) {
        margin-bottom: rem(17px);
    }

    &::before {
        content: "";
        display: block;
        border: 6px solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0px;
        margin-right: rem(10px);
    }
}

.team__accordeon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 0;
    overflow: hidden;
    margin-left: rem(16px);

    @include tablets {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }
}

.team__item--active {
    & .team__accordeon {
        height: 100%;
        overflow: visible;
    }

    .team__name::before {
        transform: scale(1, -1);
    }

    .team__name {
        @include tablets {
            color: $yellow;
        }
    }
}

.team__desk {
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--subtitle {
        font-weight: 700;
        margin-bottom: rem(17px);
    }

    &--text {
        line-height: rem(25px);

        @include tablets {
            text-align: center;
        }
    }
}