.video {
    background: url("../img/video_bg.png") center center / cover no-repeat;
}

.title--video {
    color: $gray;
    margin-top: rem(0px);
    margin-bottom: rem(50px);
}

.video--container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}